/*==============================================
FUENTES / COLORES
===============================================*/
:root {
	--fuenteHeadings: 'Bai Jamjuree', sans-serif;
	--fuenteTexto: 'Roboto', sans-serif;
	/* COLORES */
	--GrayishBlue: hsl(200, 8%, 54%);
	--DarkGrayishBlue: #474747;
}

/*==============================================
GENERALES
===============================================*/
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: var(--fuenteTexto);
	font-size: 1.6rem;
	background-color: #fdf1ec;
}
h1, h2, h3 {
	font-family: var(--fuenteHeadings);
	color: var(--DarkGrayishBlue);
	font-weight: 400;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2rem;
}
img {
	width: 100%;
	display: block;
}
p {
	color: var(--GrayishBlue);
	line-height: 1.5;
}
.container {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}

/*==============================================
SITE-HEADER
===============================================*/
.site-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../assets/images/patternpad.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* LOGO */
.company-logo {
	font-size: 15rem;
	padding: 10rem 0 4rem;
	color: rgba(99,134,154,.6);
}
/* TEXTO HEADER */
.head-txt {
	text-align: center;
}
.head-txt h1 {
	font-size: 3.5rem;
}
/* BOTONES */
.btns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin-top: 4rem;
}
.btn {
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 2rem 8rem;
	border-radius: 5rem;
	text-decoration: none;
	text-align: center;
	border-radius: 5rem;
	-webkit-border-radius: 5rem;
	-moz-border-radius: 5rem;
	-ms-border-radius: 5rem;
	-o-border-radius: 5rem;
	box-shadow: 0 5px 15px rgba(0,0,0,.35)
}
.ios-btn {
	background-color: #9b9c50;
}
.ios-btn:hover {
	background-color: #66660d;
}
.mac-btn {
	background-color: #65889c;
}
.mac-btn:hover {
	background-color: #113347;
}

/*==============================================
SITE-MAIN
===============================================*/
.site-main {
	margin: 10rem auto;
	text-align: center;
}
.main-img {
	width: 80%;
	max-width: 400px;
	margin: 5rem auto;
}
.main-img img {
	filter:drop-shadow(0px 12px 24px rgba(0,0,0,.35));
	-webkit-filter:drop-shadow(0px 12px 24px rgba(0,0,0,.35));
}
.main-txt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*==============================================
CLIPBOARD SECTION
===============================================*/
.clipboard {
	text-align: center;
	margin: 0 auto 7rem;
}
.clipboard-txt {
	margin: 0 auto 5rem;
}
.clipboard-img {
	display: flex;
	justify-content: center;
}
.clipboard-img img {
	filter:drop-shadow(0px 12px 24px rgba(0,0,0,.35));
	-webkit-filter:drop-shadow(0px 12px 24px rgba(0,0,0,.35));
	max-width: 400px;
}

/*==============================================
SUPERCHARGE SECTION
===============================================*/
.supercharge-txt {
	text-align: center;
}
.supercharge-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 4rem;
	margin: 4.5rem auto 8rem;
}
.supercharge-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 3rem 2rem;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
	text-align: center;
	transition: transform .6s ease;
	-webkit-transition: transform .6s ease;
	-moz-transition: transform .6s ease;
	-ms-transition: transform .6s ease;
	-o-transition: transform .6s ease;
}
.supercharge-card:hover {
  -ms-transform: scale(1.1); /*IE9*/
	-webkit-transform: scale(1.1); /*Safari3-8*/
	transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.supercharge-card p {
	margin-top: 0;
}
.supercharge-icon {
	font-size: 5rem;
	color: var(--DarkGrayishBlue);
}

/*==============================================
CLIENTS SECTION
===============================================*/
.clients-head {
	text-align: center;
	margin-bottom: 5rem;
}
.logos {
	display: flex;
	flex-direction: column;
	gap: 7rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}
.logos img {
	width: 150px;
}

/*==============================================
CLIPBOARD FOOTER SECTION
===============================================*/
.clip-footer {
	margin: 10rem auto;
}
.clip-txt-footer {
	text-align: center;
}

/*==============================================
SITE-FOOTER SECTION
===============================================*/
.site-footer {
	margin: 6rem auto 0;
	padding: 4rem 0;
	background-color: #E0E0E0;
}
/* FOOTER LOGO */
.footer-logo .company-logo {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7rem;
}

/* FOOTER NAV */
.nav-list {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	padding: 3.5rem 0;
	gap: 3rem;
	margin: 0 auto;
}
.nav-list li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-list li a {
	text-decoration: none;
	color: var(--GrayishBlue);
	font-family: var(--fuenteHeadings);
	font-size: 1.7rem;
	cursor: pointer;
} 
.nav-list li a:hover {
	text-decoration: underline;
	color: #113347;
}

/* FOOTER SOCIAL */
.social-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}
.social-footer a {
	text-decoration: none;
	cursor: pointer;
	color: var(--GrayishBlue);
	font-family: var(--fuenteHeadings);
	font-size: 3.5rem;
}
.social-footer a:hover {
	color: #113347;
}
